<ion-view view-title="Fridge" ng-init="init()">
  <ion-content class="padding">
	<ion-refresher
    	pulling-text="Pull to refresh..."
    	on-refresh="doRefresh()">
  	</ion-refresher>
	<div class="card" ng-repeat="beers in fridge" style="margin-bottom:5px" ng-hide="beers.quantity == 0" >
		<div class="item item-text-wrap" >
			<table style="width:100%;">
				<tr>
					<td><h2 style="vertical-align:center">{{beers.name}} {{beers.volume}}</h2></td>
					<td style="text-align:right;vertical-align:center">{{beers.quantity}} <i class="ion-ios-pint" style="margin-left:4px; font-size:2em;"></i></td>
				</tr>
			</table>
			<div style="width:100%;font-size:2em;text-align:center;">
				<span class="ion-plus-circled" ng-click="increase(beers)" style="margin-right:10%"></span>
				<span class="ion-minus-circled"  ng-click="decrease(beers)" style="margin-left:10%"></span>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
