<ion-view view-title="Scanner">
  <ion-content>
		<div class="list list-inset">
			<div class="item item-input-inset" style="padding:0px;">
				<label class="item item-input" style="width:90%; border:none;">
					<!--<i ng-click="clickIcon()" class="icon ion-camera placeholder-icon"></i> -->
					<input type="text" placeholder="Barecode" ng-model="fridge.bar_code" style="width:100%;">
				</label>
			<button class="button" ng-click="clickIcon()" style="font-size:2em;"><i class="icon ion-camera"></i></button>
			</div>
			<label class="item item-input">
				<input type="number" placeholder="Quantity" min="1" ng-model="fridge.quantity" style="width:100%;">
			</label>
			<ion-list>
			  <ion-checkbox ng-model="fridge.must_have">Must have in fridge</ion-checkbox>
			</ion-list>
			<div class="button" style="width: 80%;margin:10%; background-color:#387EF5; color: #FFFFFF;" ng-click="addToFridge()">
				Add to fridge
			</div>
		</div>
  </ion-content>
</ion-view>

