<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >

  <!-- Fridge Tab -->
  <ion-tab title="Fridge" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/stock" style="padding:5px;" >
    <ion-nav-view name="tab-stock"></ion-nav-view>
  </ion-tab>

  <!-- Add Tab -->
  <ion-tab title="Add" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/tab/scanner" style="padding:5px;" >
    <ion-nav-view name="tab-scanner"></ion-nav-view>
  </ion-tab>

  <!-- Shopping Tab -->
  <ion-tab title="Shopping List" icon-off="ion-android-cart" icon-on="ion-android-cart" href="#/tab/shopping" style="padding:5px;" >
    <ion-nav-view name="tab-shopping"></ion-nav-view>
  </ion-tab>


</ion-tabs>

